@inherits CatPicComponentBase
<div class="m-2 p-2 bg-danger d-flex justify-content-center">
  <div id="CatPicContainer" class="row m-2">
    <!--!-->
    <div class="col-8">
      <img id="catPic" class="img-fluid" src="@CatPicUrl" style="max-height: 25rem;">
    </div>
   

  <button id="newCatButton" class="col-4" @onclick="NewCat" title="New Cat">New Cat!</button>
  </div>
</div>

<style>
  #newCatButton {
    height: 4rem;
    width: 5rem;
  }

  #CatPicContainer {
    height: 25rem;
  }
</style>