@inherits CatPicComponentModel
<div class="m-2 p-2 bg-danger d-flex justify-content-center">
  <div id="CatPicContainer" class="w-50 m-2">
    <img id="catPic" class="img-fluid" src="@CatPicUrl" />
  </div>

  <button id="newCatButton" @onclick="NewCat" title="New Cat">New Cat!</button> 
</div>

<style>
  #newCatButton {
    height: 4rem;
    width: 5rem;
  }

  #CatPicContainer{
    height: 25rem;
  }
</style>