@page "/"
@inherits BaseComponent

<h1>@ApplicationState.Name</h1>
Welcomes You
<br />
<a href="https://timewarpengineering.github.io/blazor-state/">Blazor State Documentation</a>
<img src="/images/"height="250" width="250" alt="" />

<br />
<BlazinCatFork_P8.Client.Features.CatPic.Components.CatPicComponent />
<br />
<br />
<a href="https://github.com/TimeWarpEngineering/blazor-state">Blazor State GitHub project</a>
<br />
<a href="https://chrome.google.com/webstore/detail/redux-devtools/lmhkpmbekcpmknklioeibfkpmmfibljd?hl=en">Redux Dev Tools Chrome Extention </a>

<SurveyPrompt Title="How is Blazor working for you?" />