@page "/recipeSearch"
@inherits  RecipeSearchPageBase

<h1>Recipe Search By Ingredient</h1>

<h2>Enter Ingredients Separated By a Comma</h2>
<BlazinCatFork_P8.Client.Features.Recipes.Components.RecipeSearchForm />
<br/>

<h2>Counter Display 2</h2>
<Counter TestId="Counter2"/>
<br />
<hr />
<h6>Reset button will clear all state in the Store and return you to the home page</h6>
<ResetButton/>
<br />
<hr />
<h6>EventStream is an example of middleware.  It adds each action to list.</h6>
<EventStream/>