@page "/"
@inherits BaseComponent

<h1>@ApplicationState.Name</h1>

<div id="CatForkWelcomeContainer" class="w-75 text-center">
  <h2>CatFork Welcomes You</h2>

<img src="/images/catForkLogo.png" class="img-thumbnail" alt="" />

</div>

<BlazinCatFork_P7.Client.Features.CatPic.Components.CatPicComponent />

